* {
    margin:0;
    padding:0;
}

body {	

height: 200px;
background-image: url("dégradé.jpg");
background-size: cover;
color: #000; text-shadow: 1px 1px 0 #fff;
	margin-top:25px;
	text-align:center;  
	
}


header {
	text-align: justify;
	border: solid;
}

header {
	text-align:top;
}

