body {
	height: 200px;
	background-image: url("fondprmpage.jpg");
	background-size: cover;
	color: #000; text-shadow: 1px 1px 0 #fff;
}

P{
	margin-top:200px;
	text-align:center;
}

P {
	font-size: 20px
}

P {
	font-weight: bold;
}



