* {
    margin:0;
    padding:0;
}

h1 {
	font-size: 50px;
	position:absolute;
	border:solid 2px;
	width:280px;
	top:60px;
	left:810px;
}

h3 {
	top:230px;
	left:30px;
	position:absolute;
	font-size: 30px;
}

p {
	font-size: 20px;
	top:300px;
	left:30px;
	position:absolute;
}

body {
    background-color: rgb(129,191,254);
    color: black;
	font-family: 'Arial black', sans-serif;
}

iframe{
	position:absolute;
	top:500px;
	left:1000px;
}

header #ffvb img {
  width: 350px;
  display: block;
  margin-left: 1575px;
  margin-top: -90px;
}

header #ballon img {
	
  width: 35px;
  display: block;
  margin-left: 839px;
  margin-top: -375px;
}

main #role-volley p {
	color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #000;
}

.active {
  background-color: #f00020;
}